* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    color: #212121;
    background-color: rgb(244, 244, 243);
    padding: 10px;
}
h1,
h2,
p {
    margin: 0;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
} 

.search-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 50px;
    padding: 20px 0;
}

.search-form input {
    padding: 4px 8px;
    border-radius: 8px;
    outline: none;
    border: none;
    background-color: #fae4f7;
    box-shadow: 0 0 0 2px #fae4f7;
    margin-right: 8px;
}

.search-form input:focus-within {
    box-shadow: 0 0 0 2px rgb(0, 0, 0, 0.1);
}

.search-form button {
    padding: 4px 12px;
    border-radius: 8px;
    border: none;
    background-color: #fae4f7;
    cursor: pointer;
    transition: 0.4s;
}

.search-form button:hover {
    background-color: #83a4d4;
}

img {
    height: 100%;
    width: 100%;
}


a:link {
    text-decoration: none;
}

.photo-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.photo-card img {
    width: 100%;
    height: auto;
    display: block;
}
.info {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    padding: 8px 12px;
}

.info-item {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
}